{% extends "base/base.html" %}
{% load static %}
{% load i18n %}

{% block customjs %}
    <script src="{% static 'chartjs/chart.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans "Dashboard" %}</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <div class="form-floating">
                                <select id="month" class="form-select">
                                    <option value="" selected>----</option>
                                    {% for month in months %}
                                        <option value="{{ month }}"
                                                {% if month == current_month %}selected{% endif %}>{{ month }}</option>
                                    {% endfor %}
                                </select>
                                <label for="month">{% trans "Month:" %}</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-2">
                            <div class="form-floating">
                                <select id="year" class="form-select">
                                    {% for year in years %}
                                        <option value="{{ year }}"
                                                {% if year == current_year %}selected{% endif %}>{{ year }}</option>
                                    {% endfor %}
                                </select>
                                <label for="year">{% trans "Year:" %}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-10 mt-4 mt-md-0">
                            <canvas id="Total_kWH" width="800" height="400"></canvas>
                        </div>
                        <div class="col-12 col-md-2 mt-4 mt-md-0">
                            <canvas id="Total_Charges" width="300" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('month').addEventListener('change', fetchData);
        document.getElementById('year').addEventListener('change', fetchData);
        const charge_invoice_date = ""
        const totalKwh = ""
        const resultsDiv = document.getElementById('Total_kWH').getContext('2d');
        const Total_kWH = new Chart(resultsDiv, {
            type: 'bar',
            data: {
                labels: charge_invoice_date,
                datasets: [{
                    label: 'Total kWh',
                    data: totalKwh,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        mode: 'index',
                        intersect: false,
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Datum'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'kWh'
                        }
                    }
                }
            }
        });
        const ChargesDiv = document.getElementById('Total_Charges').getContext('2d');
        const Total_Charges = new Chart(ChargesDiv, {
            type: 'pie',
            data: {
                labels: ["Customer"],
                datasets: [{
                    label: 'Total kWh',
                    data: [],
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    subtitle: {
                        display: true,
                        text: 'Total kWh per Customer'
                    }
                }
            }
        });

        function fetchData() {
            const month = document.getElementById('month').value;
            const year = document.getElementById('year').value;

            fetch(`/api/v1/charge-total-kwh/?invoice_month=${month}&invoice_year=${year}`)
                .then(response => response.json())
                .then(data => {
                    const charge_invoice_date = data.map(item => item.charge_invoice_date);
                    const totalKwh = data.map(item => item.total_kwh);
                    Total_kWH.data.labels = charge_invoice_date;
                    Total_kWH.data.datasets[0].data = totalKwh;
                    Total_kWH.update();
                });

            fetch(`/api/v1/total-kwh-per-customer/?invoice_month=${month}&invoice_year=${year}`)
                .then(response => response.json())
                .then(data => {
                    const customerNames = data.map(item => item.charge_customer_id);
                    const totalKwh = data.map(item => item.total_kwh);
                    Total_Charges.data.labels = customerNames;
                    Total_Charges.data.datasets[0].data = totalKwh;
                    Total_Charges.update();
                });
        }

        document.readyState = fetchData();
    </script>
{% endblock %}