{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "dashboard" %}"> Charge Summarizer </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "dashboard" %}">
                        <i class="bi bi-house-door"></i>
                        {% trans "Dashboard" %}
                    </a>
                </li>
                <li>
                    <div class="vr m-2"></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "upload_invoice" %}">
                        <i class="bi bi-upload"></i>
                        {% trans "Upload Invoice" %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-flex float-end me-3">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown flex-grow-1">
                    <button class="btn btn-link nav-link dropdown-toggle d-flex align-items-center"
                            data-bs-toggle="dropdown" data-bs-display="static">
                        <i class="fi fi-{{ LANGUAGE_CODE }}"></i>
                        <span class="d-none d-sm-block ms-2" id="language-text">{{ LANGUAGE_CODE }}</span>

                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% for language in languages %}
                            <li class="dropdown-item d-flex align-items-center">
                                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}">
                                    <input name="language" type="hidden" value="{{ language.code }}">
                                    <button type="submit" class="dropdown-item d-flex align-items-center">
                                        <i class="fi fi-{{ language.code }}"></i>
                                        <span class="ms-2">{{ language.name_translated }}</span>
                                    </button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <a class="navbar-btn btn btn-outline-warning float-end" href="{% url "logout" %}">{% trans "Logout" %}</a>
    </div>
</nav>